@basecolor: #006699;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 45px;
    background-color: @basecolor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    padding: 5px 45px;
    > h4 {
        font-weight: normal;
        color: #fff;
    }
    i.fa-arrow-left {
        position: absolute;
        top: 15px;
        left: 15px;
        color: #fff;
    }
    i.fa-search {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
    }
    input.search {
        background-color: #fff;
        margin: 0;
    }
    span.title {
        color: #fff;
    }
}

#main {
    padding: 45px 0;
    width: 100%;
    height: 100%;
}

#footer {
    width: 100%;
    height: 45px;
    background-color: @basecolor;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    .mui-col-xs-3 {
        text-align: center;
        a {
            height: 45px;
            display: flex;
            flex-direction: column;
            color: #fff;
            justify-content: center;
            &.active {
                color: orange;
            }
        }
    }
}


.search-form {
    margin: 10px 0 0;
    > form {
        padding: 0 10px;
        position: relative;
        padding-right: 60px;
        .input-search {
            // width: 320px;
            height: 33px;
            border: 1px solid @basecolor;
            padding-left: 10px;
            margin: 0;
            font-size: 12px;
            border-radius: 5px 0 0 5px;
        }
        .btn-search {
            background-color: @basecolor;
            position: absolute;
            right: 10px;
            top: 0;
            border-radius: 0 5px 5px 0;    
        }
    }
}

.product {
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    height: 343px;
    width: 100%;
    padding: 0 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .product-img {
        width: 100%;
    }
    .product-desc {
        text-align: center;
        /* 控制只显示2行文字对于隐藏 */
        overflow: hidden;  
        text-overflow: ellipsis;  
        display: -webkit-box;  
        -webkit-line-clamp: 2;  
        -webkit-box-orient: vertical;  
    }
    .product-price {
        .new-price {
            color: #f00;
        }
        .old-price {
            color: #ccc;
            margin-left: 10px;
        }
    }
}
