@import './base.less';

#main {
    width: 100%;
    padding: 45px 0;
    #nav {
        padding: 10px;
        .mui-row {
            > div {
                > a {
                    display: block;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    #banner {
        padding: 0 10px;
        .mui-row {
            a {
                display: block;
                img {
                    width: 100%;
                }
            }
        }
    }

    #brand {
        padding: 0 10px;
        > .top {
            > img {
                width: 100%;
            }
        }
        > .main {
            a {
                display: block;
                img {
                    width: 100%;
                }
            }
        }
    }

    #sport,
    #women,
    #man {   
        padding: 10px;
        > .top {
            > img {
                width: 100%;
            }
        }
        > .main {
            width: 100%;
            padding: 0 10px;
            .mui-col-xs-6 {
                padding: 5px;
                .product {
                    background-color: #fff;
                    box-shadow: 0 0 5px #ccc;
                    // height: 400px;
                    width: 100%;
                    padding: 0 5px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .product-img {
                        width: 100%;
                    }
                    .product-desc {
                        text-align: center;
                    }
                    .product-price {
                        .new-price {
                            color: #f00;
                        }
                        .old-price {
                            color: #ccc;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

