
@basecolor: #006699;

#header {
    height: 45px;
    background-color: @basecolor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    > h4 {
        font-weight: normal;
        color: #fff;
    }
    i.fa {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
    }
}